.form-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    display: inline-block;
  
}
  
.button-group-maquinas {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* .container-maquinas {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: hsl(var(--background)); 
    height: 50vh; 
     padding-top: 10%;  
    width: 100%;  
} */

.form-maquinas {
    width: 100vw;
    background-color: hsl(var(--machine-card-bg));
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
}

.form-maquinas input, select, textarea{
    margin-left: 0%;
}

.form-maquinas label{
    color: hsl(var(--text));
    font-size: 1rem;
    padding-left: 0;
}

.machine-image-update img{
    max-width: 90%;
    max-height: 40%;
}