.titulo {
  color: hsl(var(--text));
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  

}

body {
  margin: 0;
  line-height: normal;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
 

}

.container img {
  width: 100%;
  position: relative;
  border-radius: 38px;
  height: 762px;
  border: 2px solid hsl(var(--primary));
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: top; */
  opacity: 80%;
  z-index: 1;
  object-fit: cover;
}

.content { 
  
  width: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid hsl(var(--primary));
  border-radius: 100px;
  height: 480px;
  z-index: 2;
  opacity: 90%;
   top: 50%;
  left: 50%; 
   transform: translate(-50%, -50%); 

}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(var(--text));
  gap: 15px;
  width: 100%;


}


.login-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(var(--text));
  gap: 20px;



}

.password {
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  color: hsl(var(--text));
  align-self: center;
  margin-top: -25px;
}

.password:hover {
  text-decoration: underline;
}

.input-login {

  width: 34%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0cdbab;
  border-radius: 5px;
  font-size: 1rem;
}

.link-login {
  color: hsl(var(--primary));
}

.imagem {
  width: 130px;
  height: 100px;
}