.titulo{
  color: hsl(var(--text));
  text-align:justify;
  margin-bottom: 20px;

}
.grid {
  display: flex;
  flex-direction: row;
  height: 100vh; 
}
  
.login {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: hsl(var(--text));
  background-color: #1a1a1a;
  padding: 12px 15px;

}
  
.img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.password {
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  color: hsl(var(--text));
  align-self: center;
  margin-top: -25px;
}
  
.password:hover {
  text-decoration: underline;
}

.input-login{
  border-radius: 5px;
}

.link-login{
  color: hsl(var(--primary));
}