.machine-image-home img{
    max-width: 90%;
    max-height: 40%;
}

.machine-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    justify-items: center;
}

.machine-card{
    width: 100%;
    height: auto;
    background-color: hsl(var(--background));
    color: hsl(var(--text));
    margin: 0;
    overflow: hidden;
}