.machine-details-card{
    width: 70vw;
    height: auto;
    border-color: hsl(var(--primary));
    background-color: hsl(var(--machine-card-bg));
    color: hsl(var(--text));
    margin: 0;
    margin: 20px;
    overflow: hidden;
}

.machine-details-name{
    font-size: 1.5rem;
}