.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
 
}

.search-icon {
    color: hsl(var(--primary));
    margin-right: 8px;
}
.faq{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 90%;
    justify-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.botao{
    display: flex;
    justify-self: center;
}

.nav-container{
    background-color: hsl(var(--primary));
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

hr{
    background-color:hsl(var(--background));
    border-top: 1px solid #6b7280;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-top: 0;
}
