.main-container{
    padding: 2px;
    margin: 10px;
}

h1 {
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-size: 2rem;
}

.text-headline {
   max-width: 800px;
   padding: 10px;
   margin: 40px auto;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgb(0, 0, 0, 0.02);
   line-height: 1.5;
}


.headline{
   text-align: center;
   text-align: justify;    
}

.list{
    max-width: 700px;
    margin:20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
    line-height: 1.5;
}

.list li{
    line-height: 1.5;
    padding-left: 8px;
}

.question-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;
    min-width: 10vw;

}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
 h2{
    color: white;
    font-size: 1.5rem;
    padding: 12px;
    gap: 0.5rem;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;

}

img{
    border-radius: 8px;
    height: 400px;
    position: relative;
    object-fit: cover;

}

.question-two{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;
    

}

.text-two{
    line-height: 1.5;
    max-width: 700px;
    margin:20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
    
}

.question-three{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;
    text-align: center;

}


@media (max-width: 768px) {
    .question-one, .question-two, .question-three{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    img{
        width: 80%;
        max-width: none;
        height: auto;
    }

    .text{
        max-width: 90%;
        padding: 15px;
        
    }
}


    
