.machine-list-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    justify-items: center;
    
}

@media (max-width: 480px) {
    .machine-list-grid{
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
    }
}

.machine-list-grid.single-item {
    max-width: 350px;
    max-height: 600px;
    margin: 0;
    overflow: hidden;
    transition: transform 0.3s ease;
    grid-template-columns: 1fr;
    justify-content: center;
}