.input-box{
    width: 60vh;
    background-color: #249bd3;
    height: 60vh;  
    display: flex;
    align-items: center;  
    margin-top: 2%;
    margin-left: 35%;
    justify-content: center;
    flex-direction: column;    
}

.input-box input{
    height: 3.5vh;
    width: 35vh;
}

.input-box button{
    color: #249bd3;
    width: fit-content;
    height: fit-content;
}