@import url("../../index.css");

.class1{
  text-decoration: none;
  color: #ffffff;
}
.home{
  color: hsl(var(--text));
  margin: 5px;
  justify-content: center;
  padding: 20px;
  text-transform: uppercase;
}


.info{
  color: hsl(var(--text));
}



.quadro3{
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  margin: 10px; 
  border-color: hsl(var(--primary));
}