.teste5 {
    background-color: green;
    
}

.teste2 {

    padding: 20px;

    
    
    
 
}

.teste3 {

    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;



    
}
.teste4{
   
     width: 50%;
     height: 12em;
     text-align:center;
 
}
