.main-container{
    padding: 2px;
    margin: 10px;
}

h1 {
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-size: 2rem;
}

.headline{
   text-align: center;
   text-align: justify;    
}




.question-one{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;


}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
 h2{
    color: white;
    font-size: 1.5rem;
    padding: 12px;
    gap: 0.5rem;
    justify-content: center;
    align-self: center;
    text-align: center;
    
    

}

img{
    border-radius: 8px;
    height: 400px;
    position: relative;
    object-fit: cover;

}

.question-two{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;

}

.question-three{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 10px;
    padding: 20px;

}