.input-box{
    width: 60vh;
    background-color: #249bd3;
    height: 30vh;  
    display: flex;
    align-items: center;  
    margin-top: 2%;
    margin-left: 35%;
    flex-direction: column;
    gap: 1.5vh;
    border-radius: 10px;
}

.title{
    color: aliceblue;
    margin-top: 5%;
}

.input-box input{
    height: 3.5vh;
    width: 35vh;
    border-radius: 5px;
    border: #249bd3;
    font-size: medium;
}

.input-box input:focus{
    border: 2px solid #82C0D9;
}

.input-box button{
    color: #249bd3;
    background-color: aliceblue;
    width: 225px;
    height: 3vh;
    border: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
    font-size: medium;
}

.input-box button:hover{
    background-color: #82C0D9;
    color: #C4F2F2;
    transform: scale(1.02);
}