.input-box{
    background-color: hsl(var(--primary));
    display: flex;
    align-items: center;  
    flex-direction: column;
    gap: 1.5vh;
    border-radius: 10px;

}

.title{
    color: hsl(var(--secondary));
    margin-top: 5%;
}

.input-box input{
    height: 5vh;
    width: 35vh;
    border-radius: 5px;
    border: hsl(var(--primary));
    font-size: medium;
}

.input-box input:focus{
    border: 2px solid hsl(var(--primary));
}

.input-box button{
    color: hsl(var(--primary));
    background-color: hsl(var(--secondary));
    width: 150px;
    height: 4vh;
    align-items: center;
    border: hsl(var(--secondary));
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
    font-size: medium;
}

.input-box button:hover{
    background-color: hsl(var(--hover));
    transform: scale(1.02);
}