:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.container {
  margin: 0;
  padding-top: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold ;
}

.formLogin {
  margin: 0px;
  padding-top: 9vh;
   line-height: 20px; 
  display: flex;
  flex-direction: column; /*Alteração para alinhar na vertical*/
/*parte inicial do login*/
 

}

.rowSignUp{
  line-height: 20px;
  position: fixed;
  top: 20%; /* "caixas"criar conta*/
  
}
.user-input{
  font-family: serif;
  margin-right: 6px;
  margin-top: 10px;/*parte da caixa (criar conta)de nome ,email e tal*/
  color: #ffffff;
    background-color: #111;
}
.botaovoltar{
  margin-top: 5%;
 font-family: serif;
 text-decoration: underline;
 
}
.botao{
  margin-top: 9%;
 font-family: serif;

}


.row input {
  display: block;
  margin-bottom: 13px; /*10 px ,caixinha de email e senha*/
  font-family: serif;
  color: #ffffff;
  background-color: #111;

}
.row{
  margin-bottom: 10px;
  font-family: Arial; /*botao entrar*/
  text-align: center;
  
 
 
}


/*a {
  font-weight: 500;
  color: #ff6464;
  text-decoration: inherit;
}
 
a:hover {
  color: #a01818;
}

h1 {
  text-align: center;
  color: #070c0a;
}
*/

input,
button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  
  
 
}

button {
  cursor: pointer; /* o cursor do mouse fica umaq maozinha apontando*/
}

button:hover {
  border-color: #21d5ec; /*deixa a borda com corzinha , e o houver serve para aplicar estilos quando o usuario passa a mao sobre o botao*/

}
button:active {
  border-color: #d83939;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}


#box{
  background-color: #169e69;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center; 
  height: 500px; 
  width: 450px; 
  line-height: 60px;
  filter: blur(0 0 50px);
  border-radius: 25px;
}

.subtitulo{
  font-family: serif;
  font-size: 20px; 
  text-align: center;
  text-transform: uppercase;
}




#campoSenhaForm{
  position: fixed; 
  top: 67%; /*84 esqueci a senha*/
  left: 38%; /*50*/
  transform:translate(-55%, -55%);
  line-height: 26px;
  
}

#camposLoginForm{
  position: fixed; 
  top: 30%; /* parte do login,entrar , email esenha*/
  left: 50%; 
  transform:translate(-55%, -55%);
  line-height: 26px;
}

#botaoCriarContaForm{
  background-color: #111;
  color: #f6f6f6;
  top: 86%;/*90 botao criar conta*/
  font-size: 12px;
  left: 39%;
  position: fixed;
}

.mensagemLogin{
  font-size: 10px;
  text-align: center;
  top: 10%;
  line-height: 14px; 
  position: relative;
  margin-right: 6px;
  margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #234934;
  }

  a:hover {
    color: #db2424;
  }}