:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.container {
  margin: 0;
  padding-top: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold ;
}

.formLogin {
  margin: 0;
  padding-top: 15vh;
  display: flex;
  flex-direction: column; /* Alteração para alinhar na vertical */
  align-items: center; /* Centralizar os itens na vertical */
  justify-content: center;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  
}

.rowSignUp{
  line-height: 20px;
  position: fixed;
  top: 20%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #db2424);
}

.row input {
  display: block;
  margin-bottom: 10px;
}


a {
  font-weight: 500;
  color: #ff6464;
  text-decoration: inherit;
}

a:hover {
  color: #f25353;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #21d5ec;
}
button:active {
  border-color: #d83939;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#email-input {
  margin-right: 5px;
  margin-top: 10px;
}

#senha-input{
  margin-right: 6px;
  margin-top: 15px;
}

#box{
  background-color: hsl(223, 66%, 53%);
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center; 
  height: 500px; 
  width: 450px; 
  line-height: 60px;
  filter: blur(0 0 50px);
  border-radius: 25px;
}

#subtituloForm{
  font-family: serif;
  font-size: 20px;
  text-align: center;
}

#camposLoginForm{
  position: fixed; 
  top: 30%; 
  left: 50%; 
  transform:translate(-50%, -50%);
  line-height: 26px;
}

#campoSenhaForm{
  position: fixed; 
  top: 84%; 
  left: 50%; 
  transform:translate(-50%, -50%);
  line-height: 26px;
}

#botaoConfirmarForm{
  position: fixed; 
  top: 82%; 
  left: 50%; 
  transform:translate(-50%, -50%);
}

#botaoCriarContaForm{
  background-color: #074368;
  top: 90%;
  font-size: 12px;
  left: 39%;
  position: fixed;
}

#mensagemLogin{
  font-size: 10px;
  text-align: center;
  top: 10%;
  line-height: 14px; 
  position: relative;
  margin-right: 6px;
  margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #6699C8;
  }

  a:hover {
    color: #db2424;
  }
  
  input,
  button {
    color: #ffffff;
    background-color: #162a5098;
    filter: drop-shadow(0 0 20px #84d7df);
  }
  button:active {
    background-color: #160d0d69;
  }
}
